@font-face {
    font-family: 'Parisienne';
    src: url("/FarahEvent/include/fonts/Parisienne-Regular.ttf");
}
@font-face {
    font-family: 'Roboto';
    src: url("/FarahEvent/include/fonts/Roboto-Thin.ttf");
}